/* Common styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1128px) {
  .container {
    max-width: 1128px;
    padding: 0 15px;
  }
}
/* Common styles */

/**--------------Header---------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo-container {
  display: flex;
  /* padding-left: 156px;
  padding-right: 156px; */
  padding: 0 15px;
  justify-content: space-between;
}
.logo-nav {
  /* padding: 25px 0px 25px 0px; */
  display: flex;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
  padding: 17px 0;
}
.logo-part {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}
.menu-nav {
  display: flex;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  display: none;
}
.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
 .address {
  font-style: normal;
  align-items: center;
  margin-left: auto;
  padding: 25px 0px 25px 0px;
  display: none;
} 
/* .address-list {
  display: flex;
  gap: 40px;
} */
/**--------------Header---------*/

/**--------Title button--------*/
.title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.01;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  /* width: 696px; */
  margin-left: auto;
  margin-right: auto;
  max-width: 496px; 
}
@media only screen and (min-resolution: 192dpi){
  .title-button{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-2x.jpg);
  }
}
.title-button {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  max-width: 1440px;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi){
 .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob-x2.jpg);
}
}
.button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: #404bbf;
}
/**--------Features--------*/
.features {
  padding: 96px 0;
}
.features-container {
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-features {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.list-features{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-icon{
  display: none;
}
.text-features {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.listt-features{
  margin-bottom: 72px;
}
.listt-features:last-child{
  margin-bottom: 0;
}
/**--------Team--------*/
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.img-team {
  /* margin-bottom: 72px; */
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card {
  padding: 32px 0;
}
.title-team-card {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.text-team-card {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 4px;
}
.list-team{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.svg-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-team-link {
  width: 40px;
  height: 40px;
}
.icon {
  fill: #f4f4fd;
}
.team-svg:hover,
.team-svg:focus {
  background-color: #404bbf;
}
/**--------Portfolio--------*/
.portfolio {
  padding: 96px 0 96px 0;
  padding-bottom: 72px;
}
.portfolio-container {
  margin-left: auto;
  margin-right: auto;
}
.portfolio-container ul {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.title-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0px 0px 72px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-portfolio {
  /* margin-bottom: 48px; */
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 8px;
  background-color: #fff;
}
.img-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-project {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.transform-portfolio {
  position: relative;
  overflow: hidden;
}
.text-transform-portfolio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-portfolio:hover .text-transform-portfolio {
  transform: translateY(0%);
} 
.img {
  transform: translateY(0%);
}
.title-project {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-project {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/**---------Footer----------*/
.footer {
  background: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-items: center;
  gap: 72px;
}
.logo-footerrr {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  display: inline-flex;
}
.logo-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.social-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  /* margin-left: 112px;
  margin-top: 72px; */
}
.social-media-footer {
  display: flex;
  gap: 16px;
  /* justify-content: center;
  align-items: center; */
}
.media-footer {
  width: 40px;
  height: 40px;
}
.fill {
  fill: #f4f4fd;
}
.media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media:hover,
.media:focus {
  background-color: #31d0aa;
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.column {
  margin-right: 120px;
}
.logo-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.media:hover,
.media:focus {
  background-color: #31d0aa;
}
/**---------Backdrop----------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px; 
  min-height: 584px; 
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop-text{font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center; 
  letter-spacing: 0.02em;
  color:#2E2F42;
  margin-bottom: 16px;
}
.backdrop-button{ position: absolute; 
  top: 24px;
  right: 24px;
  width: 24px; 
  height: 24px;
  border-radius: 50%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-button:hover,
.backdrop-button:focus
{background-color: #404bbf; 
  border: none;
  fill: #ffffff;
}
.backdrop-icon{transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-icon:hover,
.backdrop-icon:focus{fill: #ffffff}
.icon-backdrop:hover,
.icon-backdrop:focus{fill: #4D5AE5;}
.backdrop-form{ margin-bottom: 8px;
}
.backdrop-label{ font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color:#8e8f99;
  display: block;
  margin-bottom: 4px
}
.backdrop-input{position: relative; }
.input-backdrop{ width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-backdrop:focus {fill: #4D5AE5;}
.input-backdrop:focus{border-color: #4D5AE5;}
.icon-backdrop{position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-backdrop{margin-bottom: 16px}
.textarea-backdrop{width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px; 
  background-color: transparent;
  padding: 8px 16px; 
  outline: transparent; 
  resize: none; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.textarea-backdrop:focus{border-color: #4D5AE5;}
.form-form-backdrop{margin-bottom: 24px;}
.label-backdrop{font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
}
.label-span{width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  fill: transparent; 
}
.check:checked + label span{
  background-color:#404bbf;
  border:none; 
  fill:#F4F4FD;
}
.link-label{ color: #4d5ae5;
  margin-left: 3px;}
  .input-backdrop:focus + .icon-backdrop {fill: #4D5AE5
  }
  .input-backdrop:focus + .icon-backdrop {fill: #4D5AE5
}
.button-backdrop{
  margin: 0 auto;
  display: block;
  border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-footer-text{margin-bottom: 16px;
  font-weight: 500; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;}
.backdrop-footer-form{
  display: flex;
  gap: 24px;
  flex-direction: column; 
  align-items: center;
}
.backdrop-footer-email{
  width: 264px; 
  height: 40px; 
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em; 
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.E-mail{ color: #ffffff;
}
.backdrop-button-form{ min-width: 165px;
  height: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}
.backdrop-button-icon{margin-left: 16px;
}

     /* Mobile close */
@media screen and (max-width: 767px) {
  .mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear, visibility 250ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu-container{
    position: relative;
  }
  .mobile-menu-close-btn{
    position: absolute;
    top: 20px;
    right: 0;
    background-color: transparent;
    /* border: none; */
    padding: 0;
    line-height: 0;
    border-radius: 100%;
    cursor: pointer;
  }
  .mobile-menu-nav{
    padding-top: 72px;
  }
  .mobile-nav-menu-li{
    margin-bottom: 40px;
  }
  .nav-link-mobile {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    /* padding: 24px 0; */
    /* position: relative; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link-mobile:hover,
  .nav-link-mobile:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
  }
  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
  .mobile-social-svg{
    margin-top: 48px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .mobile-social{
    width: 40px;
    height: 40px;
  }
  .mobile-svg{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-svg:hover,
  .mobile-svg:focus{
  background-color: #404bbf;
  }
  .mobile-icon{
  fill: #f4f4fd;
  }
  /* .footer-container{
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    max-width: 530px;
  } */
}
      /* Mobile close */

@media screen and (min-width: 768px) {
  .logo{
    margin-right: 120px;
  }
  .open-menu-btn {
    display: none;
  }
  .title-button{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi){ 
    .title-button{
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab-2x.jpg);}}
  .mobile-menu {
    display: none;
  }
  .menu-nav {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .current::after {
    content: "";
    position: absolute;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
  }
  .address{
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
  .open-menu-btn{
    display: none;
  }
  .title{
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    width: 696px;
    max-width: 496px;
  }
  .title-button{
    padding: 112px 36px;
  }
  .title-features{
    text-align: initial;
  }
  .features-container ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .text-team-card{
    margin-bottom: 8px;
  }
  .img-team{
    /* width: calc((100% - 24px) / 2); */
    margin-bottom: 64px;
  }
  .features-container li {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-container li:last-child {
    margin-right: 0px;
  }
  .team-container li:last-child {
    margin-right: 0px;
  }
  .img-portfolio{
    width: calc((100% - 24px) / 2);
  }
  .portfolio {
    padding-bottom: 96px;
  }
 /*-------------- FUOOTER-----------*/
 .footer {
  padding: 96px 0;
}
.footer-container{
  flex-direction: initial;
  flex-wrap: wrap;
  gap: 24px;
}
.column{
  display: inline-block;
}
.logo-footerrr{
  display: block;
    margin-left: 0;
    margin-top: 0;
}
.text-footer{
  font-weight: 400;
  margin-top: 17.5px;
}
.social{
  display: inline-block;
  transform: translateY(-20px);
}
.social-footer{
  text-align: start;
}
.backdrop-footer-form{
  flex-direction: row;
}
}
 @media screen and (min-width: 1158px) {
  .logo{
    margin-right: 76px;
  }
  .address-list{
    flex-direction: row;
    gap: 40px;
  }
  .address-link{
    font-size: 16px;
    line-height: 1.5;
  }
  .title{
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 30px;
    width: 696px;
  }
  .features {
    padding: 120px 0;
  }
  .features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .features-container ul {
    display: flex;
  }
  .features-container li {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .features-container li:last-child {
    margin-right: 0px;
  }
  .listt-features {
    width: calc((100% - 72px) / 4);
  }
  .text-features{
    font-size: 20px;
    line-height: 1.2;
  }
  .team {
    background-color: #f4f4fd;
    padding: 120px 0;
  }
  .team-container {
    margin-left: auto;
    margin-right: auto;
  }
  .list-team {
    display: flex;
    flex-wrap: nowrap;
  }
  .img-team {
    margin-right: 24px;
  }
  .team-container li:last-child {
    margin-right: 0px;
  }
  .portfolio {
    padding: 120px 0 120px 0;
  }
  .img-portfolio{
    width: calc((100% - 48px) / 3);
  }
  .portfolio-container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px; 
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .column {
    margin-right: 120px;
  }
  .social-footer{
    margin-left: 0;
  }
 }